@import "../abstracts/mixins";

// #41a2ff
// #fe0000
// #00ff01
// #ffff00

$blue: #41a2ff;
$red: #fe0000;
$green: #00ff01;
$yellow: #ffff00;

$blueTr: rgba(65, 162, 255, 0.51);
$redTr: rgba(254, 0, 0, 0.59);
$greenTr: rgba(0, 255, 1, 0.56);
$yellowTr: rgba(255, 255, 0, 0.53);

* {
  margin: 0;
  padding: 0;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  overflow-x: hidden;
  font-family: 'sans-serif';
  user-select: none;
}
